.banner-home{
    background-image: url('../imagens/restaurante-parallax.jpg');
    min-height: 600px;
}
.banner-price{
    background-image: url('../imagens/preco-parallax.jpg');
}
.banner-beer{
    background-image: url('../imagens/cerveja-parallax.jpg');
}
.banner-coffee{
    background-image: url('../imagens/cafe-parallax.jpg');
}
.banner-emphasis{
    background-image: url('../imagens/destaque-parallax.jpg');
}
.banner-table{
    background-image: url('../imagens/destaque-parallax.jpg');
}
.banner-msg{
    background-image: url('../imagens/destaque-parallax.jpg');
}