.icon-social{
    cursor: pointer;
    list-style-type: none;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0px 10px ;
}
.up-arrow{
    cursor: pointer;
    color:var(--color3);
    font-size: 5em;
    margin-bottom: 15px;
    
        &:hover{
    color: white;
    }
}
.button-menu{
    cursor: pointer;
    color:var(--color1);
    font-size: 3em;
    margin-bottom: 5px;
    
        &:hover{
    color: rgb(0, 255, 0);
    }
}