.nav-price {
    margin-bottom: 20px;
    text-align: center;

    a {
        font-family: "Roboto", sans-serif;
        color: black;
        font-size: 1em;
        font-weight: bolder;
        margin: 0px 40px;

        &:hover{
            color: red;
        }
    }
}

@media(max-width: 500px){
.nav-price a{
        margin: 0px 20px; 
    }

}
