*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}
:root{
    --color1: #e0dfdf;
    --color2: #343A40;
    --color3: #282a2c;
}


html{
    min-height: 100vh;
    scroll-behavior: smooth;
}