.py{
    padding: 25px 0px;
}
.mb-title-section{
    margin-bottom: 20px;
}
.mb-paragraph{
    margin-bottom: 20px;
}
.mb-footer{
    margin-bottom: 20px;
}
.pt{
    padding-top: 10px;
}
.m-nav{
    margin: 0px 40px;
}
.m10{
    margin: 0px 10px;
}