.row {
    display: flex;
    flex-direction: row;
    align-content: normal;
    justify-content: center;
    align-items: center;
}
.row-logo {
    display: flex;
    flex-direction: row;
    align-content: normal;
    justify-content: center;
    align-items: center;
}
.row-price {
    display: flex;
    flex-direction: row;
    align-content: normal;
    justify-content: center;
    align-items: center;
}
.row-figure {
    display: flex;
    flex-direction: row;
    align-content: normal;
    justify-content: center;
    align-items: center;
}
.row-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.desktop-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.mobile-menu {
    display: none;
    text-align: right;
    width: 70%;
}
.row-hour {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: center;
}
.row-form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.row-msg {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
}
.row-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.row-social {
    display: flex;
    flex-direction: row;
    align-content: normal;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1000px) {
    .desktop-menu {
        display: none;
    }
    .mobile-menu {
        display: block;
        ul {
            opacity: 0%;
            transition: 1s;
            background-color: black;
            width: 100%;
            position: absolute;
            left: 0px;
            top: 70px;
            text-align: center;
        }
        .show-menu {
            opacity: 90% !important;
        }
    }
    .row-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .row {
        display: flex;
        flex-direction: column;
        align-content: normal;
        justify-content: center;
        align-items: center;
    }
    .row-price {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: normal;
        justify-content: center;
        align-items: center;
    }
    .row-hour {
        display: flex;
        flex-direction: column;
        align-content: normal;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
}
